
/* Joing the worlds leading stock -- create Account -- login  */
.hero{
  text-align: center;
  margin-top: 150px;
  margin-left: 10px;


}


.slogan{
  color: white !important;
  padding: 30px;
}


/* create Account && Login buttons  */
.HcreateNew{
  display: inline-block;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid green;
  background-color: rgba(35, 161, 100,0.5)

}


.Hlogin{
  display: inline;
  margin-left: 10px;
  border: 1px solid rgba(184, 31, 49,0.5);
  background-color: rgba(184, 31, 49,0.5);
  padding: 18px;
  width: 20%;
  border-radius: 5px
}

a.Hlogin{
  color: white;
}


.homeLoggedOut{
  display: inline;
}

/*  end of create account and login buttons */




.homeContainer {
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('successmarket.jpg');
  background-size: cover;
  background-image: no-repeat;
  overflow: auto;
  margin-top: -50px;
  margin-top: 20px;
}

.createNewButton{
  color: white;
}

.loginButton{
  color: white;
}


.NavWelcomeNavA{
  color: blue;
}

.newsTitle{

  list-style-type: none;
  margin-left: 200px;
  width: 60%;
  font-weight: 500px;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #003662;
}

.newsTitle a{
  font-size: 20px;
  font-weight: 100px;
  color: rgb(22, 209, 242);
}


.yourNewsBorder{

  float: left;
  padding: 10px;
  color: white;
  /* margin-top: 30px; */
  background-image: linear-gradient(to bottom, #d8dcdd, #c3c8c9, #afb5b6, #9ba2a3, #888f91);
  padding-bottom: 10px;
}

.newsTitle:hover{
  border: 5px solid white;
}

.yourNewsTitle{
  color: white !important;
  display: inline;
  font-weight: 600px;
}


.H{
  text-align: center;
  text-transform: uppercase;
}


.bodySearchStock{
  height: 100vh;
  background-image: linear-gradient(to bottom, #d8dcdd, #c3c8c9, #afb5b6, #9ba2a3, #888f91);
  /* background-color: rgba(44, 65, 82, .5); */
}

.searchFormButton{
  background-color: #003662;
  color: white;
  border-radius: 5px;
  padding: 5px;

}


/*  stock results chart */
.containerStockResults{
  background-color: rgba(44, 65, 82, .5);


}

/* crypto */

.chartCryptoContainer{


}





.gStockInfo{
  background-color: #003662;
  color: rgb(22, 209, 242);
  border: 3px solid white;
  border-radius: 5px;
}



.cryptoInfo{
  margin-top: 55px;
  color:  rgb(22, 209, 242);
  width: 18%;
  background-color: #003662;
  border: 3px solid white;
  border-radius: 5px;
  float: right;
  height: 180px;
  margin-right: 130px;
  padding: 30px;
  display: inline;
  /* display: inline; */
}


.newsHeadlineTicker{
  padding: 10px;
  color: white;
  margin-left: 37px;
  margin-top: 5px;

}

.chartCryptoContainer{


}



.containerCryptoChart{
  width: 70%;

  height: 100vh;
  margin-top: 10px;
  margin-right: 50px;
  margin-left: 10%;
  /* margin-botom: 30%; */
  /* display: inline-block; */
}

.chartjs-render-monitor{
  background-color: white !important;
  margin-top: 10px;

}


.bodySearchCrypto{
  height: 100vh;
  background-image: linear-gradient(to bottom, #d8dcdd, #c3c8c9, #afb5b6, #9ba2a3, #888f91);

}


#searchCryptoTitle{
  text-align: center;
  margin-top: 70px;
  color: #003662;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}


.cryptoForm{
  margin-top: 150px;
  text-align: center !important;
}

#SearchCryptoForm{
  width: 25% !important ;
  margin-right: 15px !important;
}


/* .searchCryptoTitle{
  margin-bottom: 200px !important;
  margin-top: 50px;
  color: white;
  text-align: center !important;
} */


.searchCryptoFormButton{

  background-color: #003662;
  color: white;
  border-radius: 5px;
  padding: 5px;

}




.cryptoButtons{
  background-color: #003662;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-left: 8px;


}


.searchCrypto{
  display: inline;
  float: right;
  margin-right: 20px;

}

.chartCryptoContainer{
  display: flex;
  height: 100vh;
  background-image: linear-gradient(to bottom, #d8dcdd, #c3c8c9, #afb5b6, #9ba2a3, #888f91);
}


.cryptoStats{
  display: inline;
  color: rgb(22, 209, 242);
  /* color: white; */
}

.cryptoTitle{
  color: rgb(22, 209, 242);


}


.cryptoSymbol{


  display: inline;
  margin-left: 150px;
  color:  #003662;

}

.stockName{
  margin-top: 30px;
  color:  #003662;

}
