
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */





/* .searchstock{
  display: inline;
  margin-left: 85%;
}

.home{
  display: inline;
  margin-left: 78%;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 100px;

} */




.homeL{
  display: inline;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  /* margin-left: 75%; */
  padding-top: 5px;


}

.searchstock{
  float: right;
  margin-right: 20px;
  border-radius: 5px;



}


.newsNav{
  float: right;
  margin-right: 20px;

}

.logout{
  display: block;
}



#searchStockTitle{
  color:  #003662 !important;
  /* padding: 10px !important; */
  /* border-radius: 10px; */
  /* border: 3px solid white; */
  /* background-color: #14252F; */

}


.searchCrypto{
  display: inline;
  float: right;
  margin-right: 20px;

}


.cryptoInfo{
  float: right;
  display: inline;
}



a{
  color:rgb(22, 209, 242);
}
