
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



.logoutNav{
  margin-top: 300px;
  display: inline;
  margin-left: 10px;

}

.logoutNav:hover{
  border: 1px solid white;
  border-radius: 5px;
}

/* .searchstock{
  display: inline;
  margin-left: 85%;
}

.home{
  display: inline;
  margin-left: 78%;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 100px;

} */

.userPresent{
  margin-left: 73%
}



.homeL{
  display: inline;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  /* margin-left: 75%; */
  padding-top: 5px;


}

.searchstock{
  margin-left:75%;
  border: 1px solid blue;
  padding: 10px;
  border-radius: 5px;


}

.searchstock:hover{
  border: 1px solid white;
  border-radius: 5px;
}


.NavWelcomeNavA{
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  background-color: rgb(52, 71, 140)
}


.homeLoggedOut{
  position: absolute;
  /* line-height: 10px; */
  border: 1px solid white;
  border-radius: 5px;
  margin-left: 15px;
  margin-top: 15px;

}
